body {
    background-color: #5AA8A7;
    color: white;
}

.wf-mplus1p { font-family: "M PLUS 1p"; }

.score {
    font-size: 6em;
    font-weight: bold;
    color: #E8974D;
}

.dajare_title {
    font-size: 2em;
    font-weight: bold;
    color: #E8974D;
}

#img-box {text-align: center;}

/*入力項目の詳細設定*/
input.input-form,
select.input-form,
textarea.input-form  {
  -webkit-appearance: none;
  display: block;
  width: 100%;

  padding: 0px 0px 0px 10px;

  font-size: 30px;
  line-height: 1.5;
  color: rgb(255,255,255);
  background-color: #5AA8A7;
  background-clip: padding-box;
  border: 1px solid rgb(255,255,255);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: visible;
}

.form-box{
    margin: 30px;
}