{% extends "layout.html" %}

{% block title %}Dajaresult{% endblock %}

{% block content %}
    <div>
        <!-- コンテンツ -->
        <div class="col-md-10 col-md-offset-1">
            <br><br>
            <div class="h1" style="font-weight: bold">『{{ dajare_text }}』</div>
            <br>
            <div class="h4">ダジャレスコア</div>
            <span class="score" style="color:#E8974D;">{{ dajare_score }} 点</span>

            <!-- 画像 -->
            <div id="img-box">
                <img src="../static/img/{{ futon_img }}" class="img-responsive center-block">
                {% if futon_img == 'futtonda.png' %}
                    <p>画像：https://dic.nicovideo.jp/a/布団が吹っ飛んだ</p>
                {% endif %}
            </div>

            <!-- 結果 -->
            <div class="h4">{{ wake_ans }}</div>

            <br><br>

            <a href="{{url_for('dajarepage.top')}}">
                <button type="button" class="btn btn-success btn-block" style="background-color:#E8974D;">トップに戻る</button>
            </a>

            <br><br>
            <!-- 過去のダジャレリスト -->
            <h2>過去のおもしろダジャレ</h2>

            <table class="table">
                <th style="font-weight: bold">
                    <td class="c1">順位</td>
                   <td class="c2">ダジャレ</td>
                   <td class="c3">点数</td>
                   <td class="c4">作者</td>
                   <td class="c5">日時</td>
                </th>
                {% for dajare in dajare_list %}
                    {% if dajare.dajare == dajare_text %}
                    <tr style="color: #E8974D; font-weight: bold">
                        <td class="c1"></td>
                        <td class="c1">{{ loop.index }}　位</td>
                       <td class="c2">{{dajare.dajare}} </td>
                       <td class="c3">{{dajare.score | round(2)}} </td>
                       <td class="c4">{{dajare.author}} </td>
                       <td class="c5">{{dajare.datetime}} </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="c1"></td>
                        <td class="c1">{{ loop.index }}　位</td>
                       <td class="c2">{{dajare.dajare}} </td>
                       <td class="c3">{{dajare.score | round(2)}} </td>
                       <td class="c4">{{dajare.author}} </td>
                       <td class="c5">{{dajare.datetime}} </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
