{% extends "bootstrap/base.html" %}

{% block title %}Who Says Dajare?{% endblock %}

{% block content %}
    <a class="h3">ダジャレを言うのは誰じゃ</a>

    <form action="{{ url_for('dajarepage.dajare_post') }}" method="post" class="form-horizontal">

        <div class="form-group">
            <label for="dajare_text" class="control-label text-center">　ダジャレを言うのじゃ</label>
            <div class="">
                <input type="text" class="form-control" id="dajare_text" name="dajare_text" value="">
            </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">
                ダジャレチェック！
            </button>
          </div>
        </div>
    </form>
{% endblock %}

