{% extends "bootstrap/base.html" %}

{% block title %}Who Says Dajare?{% endblock %}

{% block content %}
    <h3 class="h3">ふとんがふっとんだマシーン（仮）</h3>

    <form action="{{ url_for('dajarepage.dajare_post') }}" method="post" class="form-horizontal">

        <div class="form-group mx-auto">
            <label for="dajare_text" class="mx-auto">ダジャレを言いなしゃれ</label>
            <div class="">
                <input type="text" class="form-control" id="dajare_text" name="dajare_text" value="">
            </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">
                吹っ飛ぶ？
            </button>
          </div>
        </div>
    </form>
{% endblock %}

