{% extends "layout.html" %}

{% block title %}Dajaresult{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>
    <div>
        <!-- コンテンツ -->
        <div class="col-md-12">
            <a href="{{url_for('dajarepage.top')}}">
                <button type="button" class="btn btn-success btn-block" style="background-color:#E8974D;font-size: 2em">トップに戻る</button>
            </a>

            <br><br>
            <!-- 過去のダジャレリスト -->
            <h2>ダジャレリスト</h2>

            <table class="table">
                <th style="font-weight: bold; font-size: 2em">
                    <td class="c1">順位</td>
                   <td class="c2">ダジャレ</td>
                   <td class="c3">点数</td>
                   <td class="c4">作者</td>
                   <td class="c5">日時</td>
                </th>
                {% for dajare in dajare_list %}
                    {% if dajare.dajare == dajare_text %}
                    <tr style="color: #E8974D; font-weight: bold">
                        <td class="c1"></td>
                        <td class="c1">{{ loop.index }}　位</td>
                       <td class="c2">{{dajare.dajare}} </td>
                       <td class="c3">{{dajare.score | round(2)}} </td>
                       <td class="c4">{{dajare.author}} </td>
                       <td class="c5">{{dajare.datetime}} </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="c1"></td>
                        <td class="c1">{{ loop.index }}　位</td>
                       <td class="c2">{{dajare.dajare}} </td>
                       <td class="c3">{{dajare.score | round(2)}} </td>
                       <td class="c4">{{dajare.author}} </td>
                       <td class="c5">{{dajare.datetime}} </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
